*{box-sizing: border-box;} 
h1{
    text-align: center;
    background-color: blueviolet;
    border: 2px solid black;
  }
  ul{text-align: center; }
  ul li{display: inline;}
  h2{
    text-align: center;
    
  }